body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.padre{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(assets/imagen1.JPG);
    background-size: 100% 100%;
    animation:  cambiar 20s linear infinite alternate;
}
video{
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.relleno{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(90deg  , rgba(80, 199, 0, 0.658) 0% , 40% , rgba(0, 255, 0, 0)
     100%);

    
}
.padreenlace{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: relative;
}
.paloma{
    width: 250px;
    position: absolute;
    right: 30px;
    top: 15%;
    animation:  saltar 2s linear infinite alternate;
    transition: all .3s linear;
}
@keyframes saltar{
    from{
        transform: translateY(0px);
    }
    to{
        filter: drop-shadow(0 0 20px #fff);
        transform: translateY(-10px);
    }
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.enlace{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 15%;
    width: 70%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0);
    transition: all .3s linear;
    z-index: 1;

}
ol{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
a{
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    position: relative;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;

}
a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transition: all .2s linear;
    width: 0;
    height: 3px;
}
a:hover::before{
    width: 100%;
    left: 0;
}
.menu{
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    
}
.menu div{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    transform-origin: left;
    transition: all .3s linear;
}

.eslogan{
    position: absolute;
    top: 10%;
    left: 30px;
    
}
.eslogan h1{
    font-size: 6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    text-transform: capitalize;
}
.eslogan .h41{
    font-size: 2.8em;
    color: aliceblue;
    position: absolute;
    text-transform: capitalize;
    top: 110px;
}
.eslogan h4{
    font-size: 4em;
    color: aliceblue;
    text-transform: capitalize;
    position: absolute;
    top: 130px;
}
.articulo1{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.pregunta{
    width: 90%;
    height: 400px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/imagen1.JPG);
    border-radius: 30px;
}
.pregunta::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    top: 0;
    background: linear-gradient(90deg , green 0% , 40% , transparent 100%);
    backdrop-filter: blur(10px);
}
.pregunta h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 100px;
    animation:  mover linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.container2{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.container2 img{
    width: 70%;
    height: 40%;
    border-radius: 20px;
    animation:  mover linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; 
    
}
.container2 p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);

    text-align: justify;
}
.articulo2{
    width: 100%;
    height: 100%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 5px;
    margin-bottom: 100px;
    
}
.cajaimg{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    animation:  mover linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.cajaimg img{
    border-radius: 10px;
}
.cajaimg .img4{
    height: 165px;
    width: 27%;
}
.cajaimg .img3{
    width: 40%;
}
.cajaimg .img1{
    width:39%;
    height: 150px;
}
.cajaimg .img2{
    width: 27%;
}
.articulo3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.articulo3 h1{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-size: 3em;
    animation:  mover linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes mover{
    from{
        opacity: .4;
        scale: .5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.articulo3 img{
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
footer{
    width: 100%;
    background-image: url(assets/imagen1.JPG);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0px;
}
footer::before{
    position: absolute;
    content: "";
    background-color: rgba(32, 231, 6, 0.582);
    width: 100%;
    height: 100%;
    top: 0;
    transition: all .3s linear;
}
.footer{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.footer div{
    color: aliceblue;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: .7em;
}
@media (max-width:500px){
    .hola div:nth-child(1){
    transform: rotate(45deg);
}
.hola div:nth-child(2){
    opacity: 0;
}
.hola div:nth-child(3){
    transform: rotate(-45deg);
}
.padreenlace {
    position: static;
}
.enlace{
    position: absolute;
    overflow: hidden;
    bottom: 0%;
    width: 0%;
    height: 85%;
    backdrop-filter: blur(15px);
    z-index: 1;
    border-radius: 0px;
    left: 0;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu{
    display: flex;
}
.ancho{
    width: 100%;
    z-index: 1;
}
    .eslogan{
        top: 20%;
    }
    .eslogan h1{
        font-size: 3.8em;
    }
    .eslogan .h41{
        font-size: 1.6em;
        top: 80px;
    }
    .eslogan h4{
        top: 120px;
        font-size: 1.5em;
        text-transform: capitalize;
    }
    .container2 p{
        font-size: 1em;
    }
    .pregunta h1{
        font-size: 1.3em;
        top: 50px;
        margin-bottom: 100px;
    }
    .pregunta{
        width: 90%;
        height: 100%;
    }
    .container2{
        display: flex;
        flex-direction: column;
    }
    .container2 img{
        float: right;
        width: 90%;
        height: 200px;
    }
    .cajaimg .img1{
        width: 150px;
        height: 150px;
    }
    .cajaimg .img2{
        width: 150px;
        height: 150px;
    }
    .cajaimg .img3{
        width: 150px;
        height: 150px;
    }
    .cajaimg .img4{
        width: 150px;
        height: 150px;
    }
    .articulo3 img{
        width: 90%;
        height: 400px;
    }
    .articulo3 h1{
        font-size: 1.7em;
        margin-bottom: 50px;
    }
    .articulo3 {
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer h5{
        font-size: .4.7em;
        gap: 0;
    }
    .paloma{
        width: 100px;
        right: 2%;
    }


}


